
html {
    margin: 0;
    background-color: black;
}

header {
    padding-top: 40px;
    margin-bottom: 5px;
    background-color: black;
}

.profileImg {
    width: 15%;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
}

.title {
    text-align: center;
    text-shadow: 0 0 3px #4e878b, 0 0 5px #9f6e4a;
    padding-top: 13px;
}

.scrabbleLetter {
    width: 3%;
}

.tagline {
    color: wheat;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

label {
    color: wheat;
}

.fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.date {
    font-family: 'Courier New', Courier, monospace;
}

.typewriterImg {
    width: 100%;
    opacity: .5;
    margin-top: 5px;

}

#mood {
    font-family: 'Courier New', Courier, monospace;
}

#BTN {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 5px 5px 5px;
}

.profileImg:hover {
    transition: transform .5s ease;
    transform: scale(1.5) rotate(360deg);
}