
html {
    margin: 0;
    background-color: black;
}

header {
    padding-top: 40px;
    margin-bottom: 5px;
    background-color: black;
}

.profileImg {
    width: 15%;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
}

.title {
    text-align: center;
    text-shadow: 0 0 3px #4e878b, 0 0 5px #9f6e4a;
    padding-top: 13px;
}

.scrabbleLetter {
    width: 3%;
}

.tagline {
    color: wheat;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

label {
    color: wheat;
}

.fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.date {
    font-family: 'Courier New', Courier, monospace;
}

.typewriterImg {
    width: 100%;
    opacity: .5;
    margin-top: 5px;

}

#mood {
    font-family: 'Courier New', Courier, monospace;
}

#BTN {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 5px 5px 5px;
}

.profileImg:hover {
    transition: transform .5s ease;
    transform: scale(1.5) rotate(360deg);
}

.journalEntryHTML {
    color: wheat; 
}

p {
    color: wheat;
}

.entryLog {
    display: flex;
    flex: wrap;
    text-align: justify;
    justify-content: space-evenly;
}
.journalEntryHTML {
    margin-top: 10px;
    border: solid 1px white;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: 30%;
}

.date {
    text-decoration-style: underline;
}

/* styling for Radio Buttons */

#radioButtons {
    display: flex;
    margin-bottom: 30px;
}

#radioButton--Zen {
    margin-right: 25px;
}

#radioButton--Hopeful {
    margin-right: 25px;
}

#radioButton--Frustrated {
    margin-right: 25px;
}

.zenLabel {
    margin-right: 3px;
}

.hopefulLabel {
    margin-right: 3px;
}

.frustratedLabel {
    margin-right: 3px;
}

.tankedLabel {
    margin-right: 5px;
}
